* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #242582;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
.header span {
  font-size: 30px;
  font-weight: bold;
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  border-radius: 4px;
}

.header .navbar {
  float: right;
}
.header a:hover {
  background-color: #f64c72;
  color: black;
}

.navbar .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar a {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.logo-image {
  width: 60px;
  height: auto;
}

#demo {
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    5px 5px 15px 5px rgba(255, 200, 219, 0);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    5px 5px 15px 5px rgba(255, 200, 219, 0);
}

#demoFont {
  font-family: "Times New Roman", Times, serif;
  font-size: 27px;
  letter-spacing: -0.8px;
  word-spacing: 0px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.responsive {
  max-width: 100%;
  height: auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #242582;
  color: white;
  text-align: center;
}

.column {
  float: left;
  padding: 10px;
  border: 10px solid #242582;
  outline-style: solid;
  outline-color: invert;
  background-color: rgb(208, 223, 252);
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}
#grad1 {
  height: auto;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0),
    rgba(255, 0, 0, 1)
  ); /* Standard syntax (must be last) */
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #004b64;
}

.button1:hover {
  background-color: #025a77;
  color: white;
}
.active {
  background-color: #008cba;
  color: white;